<header class="flex justify-between items-center px-6 py-3 bg-twBlue">
<div class="flex relative">
  <a href={~p"/"} class="text-white font-brand font-bold text-3xl">Traffic Watch</a>
</div>
<div class="relative">
  <button class="img-down-arrow" type="button" id="user-menu-button">
  <img src="/images/user-image1.svg" alt="Profile Image" class="w-8 h-8 rounded-full" />
  </button>
</div>
</header>